@font-face {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
   url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 700;
   src: local(''),
   url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
   url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
}

@font-face {
   font-family: 'Fraunces';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
   url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Fraunces';
   font-style: normal;
   font-weight: 900;
   src: local(''),
   url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
   url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

html {
   height: 100%;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family:"Barlow", sans-serif, "Fraunces", serif ;
   font-size: 16px;
   line-height: 1.5;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   vertical-align: middle;
}

.container {
   width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
}

/* ================ header ================ */

.header{
   padding-top: 45px;
   margin-bottom: 35px;
}

.header .container{
   display: flex;
   align-items: center;
}

.logo-link{
   margin-right: auto;
   text-decoration: none;
}

.nav {
   display: flex;
   margin-left: auto;
}

.nav-list {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav-link{
   padding-right: 33px;
   font-family: "Barlow";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   text-decoration: none;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   color: #83888F;
}

.nav-link:hover{
   color: #333D4B;
}

/*--============== main ==============--*/

.main {
   flex-grow: 1;
}

/*=============== Hero===============*/

.hero{
   margin-bottom: 168px;
}

.hero .container{
   padding: 115px 85px;
   background-image: url("../image/Bitmap.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
}

.hero__hero-page{
   width: 445px;
   margin-left: 90px;
}

.hero-page__hero-heading{
   margin-top: 0px;
   margin-bottom: 32px;
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7;
}

.hero-page__hero-info{
   margin-top: 0;
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
}

/*======== commitment ========*/

.commitment{
   margin-bottom: 168px;
}

.commitment .container{
   padding: 115px 85px;
   background-image: url("../image/Bitmap-commitment.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 135px;
}

.commitment__commitment-page{
   width: 540px;
   margin-left: auto;
}

.commitment-page__commitment-heading{
   margin-top: 0;
   margin-bottom: 32px;
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #333D4B;
}

.commitment-page__commitment-info{
   margin-top: 0;
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
   mix-blend-mode: normal;
   opacity: 0.8;
}

/*=========== quality ===========*/

.quality{
   margin-bottom: 168px;
}

.quality .container{
   position: relative;
   padding: 115px 85px;
   background: #2C343E;
   border-radius: 10px;
}

.quality .container::after{
   position: absolute;
   top: -110px;
   right: 55px;
   display: block;
   width: 512px;
   height: 767px;
   background-image: url("../image/Bitmap-quality.png");
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 8px;
   content: "";
}

.quality__page{
   width: 540px;
   margin-left: 85px;
}

.qualiyy-page__heading{
   margin-top: 0;
   margin-bottom: 32px;
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7;
}

.quality-page__info{
   margin-top: 0;
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
   mix-blend-mode: normal;
   opacity: 0.8;
}

/*========= headquarters =========*/

.headquarters{
   margin-bottom: 168px;
}

.headquarter__heading{
   margin-top: 0;
   margin-bottom: 72px;
   margin-left: 165px;
   font-family: "Fraunces 9pt";
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;
   color: #83888F;
}

.headquarters__list{
   display: flex;
   align-items: center;
   margin: 0;
   margin-left: 165px;
   padding: 0;
   list-style-type: none;
}

.headquarters__item{
   position: relative;
   margin-right: 108px;
   padding-top: 100px;
}

.headquarters__item:nth-child(1)::before{
   position: absolute;
   top: 0;
   display: block;
   width: 41px;
   height: 49px;
   background-image: url("../image/uk.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.headquarters__item:nth-child(2)::before{
   position: absolute;
   top: 0;
   display: block;
   width: 41px;
   height: 49px;
   background-image: url("../image/canada.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.headquarters__item:nth-child(3)::before{
   position: absolute;
   top: 0;
   display: block;
   width: 41px;
   height: 49px;
   background-image: url("../image/australia.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.item__heading{
   margin-top: 0;
   margin-bottom: 24px;
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 36px;
   color: #333D4B;
}

.item__sublist{
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.sublist__item{
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
}

.subitem__link{
   font-family: "Barlow";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
   text-decoration: none;
}


/*================== footer ==================*/

.footer .container{
   display: flex;
   align-items: center;
   padding-top: 48px;
   padding-bottom: 30px;
   background-color: #2C343E;
}

.footer-logo-link{
   margin-right: auto;
   text-decoration: none;
}

.footer-list{
   display: flex;
   margin: 0;
   margin-right: 500px;
   padding: 0;
   list-style-type: none;
}

.footer-link{
   padding-right: 30px;
   font-family: "Barlow";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   text-decoration: none;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #83888F;
}

.footer-link:hover{
   color: #ffffff;
}

.footer-list-two{
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.footer-link-two{
   padding-right: 24px;
}